<div class="mp_box col-10 offset-1">
	<br />
	<div class="mp_box2 col-10 offset-1 text-center">
		<br /><br />
		<h1>Welcome to Xpose</h1>
		<br /><br />
		<h2>A place where new artist can share their work</h1>
		<br /><br />
		<%= link_to 'Start Sharing Today!', '#', class: 'btn btn-success' %>
	</div>
</div>