@import "bootstrap";



body {
  background: image_url('noisy.png');
}
.mp_box {
  background: image_url('topbg.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  color: white;
}

.mp_box2 {

}

